<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-center mb-2">
                    <img src="/images/logo-topo.png" alt="Be Basic T-Shirts" width="80">
                </h2>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <p>Faça parte do clube!</p>

                        <p>Receba conteúdo sobre inovação, empreendedorismo, investimentos e filosofia no seu e-mail. Além de muita oferta boa também!</p>

                        <hr />

                    </div>
                </div>    

                <div class="benefits__list">
                    <div class="benefits__list__item">
                        <div class="benefits__list__item__icon">
                            <img src="/images/fast.svg" alt="">
                        </div>
                        <div class="benefits__list__item__description">
                            Fast shipping. Free on orders over $25.
                        </div>
                    </div>
                    <div class="benefits__list__item">
                        <div class="benefits__list__item__icon">
                            <img src="/images/benefits-2.svg" alt="">
                        </div>
                        <div class="benefits__list__item__description">
                            Sustainable process 
                            from start to finish.
                        </div>
                    </div>
                    <div class="benefits__list__item">
                        <div class="benefits__list__item__icon">
                            <img src="/images/benefits-3.svg" alt="">
                        </div>
                        <div class="benefits__list__item__description">
                            Unique designs 
                            and high-quality materials.
                        </div>
                    </div>
                    <div class="benefits__list__item">
                        <div class="benefits__list__item__icon">
                            <img src="/images/benefits-4.svg" alt="">
                        </div>
                        <div class="benefits__list__item__description">
                            Fast shipping. 
                            Free on orders over $25.
                        </div>
                    </div>
                </div>   
                
                <div class="mt-5">
                    <img src="/images/divisor-ornament.svg" alt="">
                </div>

            </div>
        </div>
    </div>
</section>