<section class="instagram">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-uppercase text-center">Siga-nos ;)</h2>
                <a href="#" class="mt-2 d-block">
                    <img src="/images/instagram-white.svg" alt="Instagram">
                </a>
                <div class="instagram__gallery">
                    <a href="#" class="instagram__galery__item">
                        <img src="images/old/azul-gola-v-kit-minimal-4x-4-camisetas-por-r8990-cada-589565_540x.png" alt="" width="164" height="200">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/old/camiseta-basica-preta-4 1.png" alt="" width="164" height="200">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/old/Camiseta-Joss-Corte-a-Fio-Lisa-Preto-Cor-Preto-Tamanho-P-Genero-Masculino_0_clipped_rev_1 1.png" alt="" width="164" height="200">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/old/3_d270e0da-4944-4121-b45b-1ae6b4d29fc4.jpg" alt="" width="164" height="200">
                    </a>
                    <!-- <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-1.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-2.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-3.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-4.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-1.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-2.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-3.png" alt="">
                    </a>-->
                    <a href="#" class="instagram__galery__item"> 
                        <img src="/images/old/Camiseta-Arimlap-Branco-Lisa-Camiseta-Arimlap-Branco-Lisa-M_0 1.png" alt="" width="164" height="200">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>