<section class="instagram">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-uppercase text-center">Siga-nos ;)</h2>
                <a href="#" class="mt-2 d-block">
                    <img src="/images/instagram-white.svg" alt="Instagram">
                </a>
                <div class="instagram__gallery">
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-1.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-2.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-3.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-4.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-1.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-2.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-3.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-4.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-1.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-2.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-3.png" alt="">
                    </a>
                    <a href="#" class="instagram__galery__item">
                        <img src="/images/instagram-gallery-4.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>