<header>
    <nav class="navbar">
        <div class="container">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navBarBeBasic" aria-controls="navBarBeBasic" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand m-0 p-0" href="/">
                <img src="/images/logo-topo.png" alt="Be Basic T-Shirts" width="80">
            </a>

            <div class="navbar-toggler-2nd d-flex gap-2">
                <div class="navbar-toggler-2nd-search collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navBarSearch" aria-controls="navBarSearch" aria-expanded="false" aria-label="Toggle navigation"></div>
                <a href="/checkout" class="navbar-toggler-2nd-store"></a>
            </div>

            <div class="collapse navbar-collapse" id="navBarSearch">
                <form class="col-12 d-lg-flex py-3 py-lg-4 text-center position-relative">
                    <input class="form__control rounded-0 w-100 mb-3 mb-lg-0" type="search" placeholder="Digite aqui para pesquisar" aria-label="Search" id="formControlSearch">
                    <button id="btnSearch" class="btn btn-primary" type="submit">Pesquisar</button>
                </form>
            </div>

            <div class="collapse navbar-collapse" id="navBarBeBasic">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Minha Conta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nossa-historia">Nossa história</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categorias">Nossa Coleção</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/checkout">Carrinho</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/404">404 (configurar)</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>