<ul class="navBarPainel">
    <li><a href="/adminpagePedidos" class="nav-link">Pedidos</a></li>
    <li><a href="/adminpagePedidos" class="nav-link">Vendas</a></li> 
    <li><a href="/" class="nav-link">Clientes</a></li>
    <li><a href="/listarprodutos" class="nav-link">Produtos</a></li>                       
    <li><a href="/produtosestoque" class="nav-link">Estoque</a></li>
    <li><a href="/fornecedor" class="nav-link">Fornecedores</a></li>
</ul>