<<<<<<< HEAD
<ul class="navBarPainel">
    <li><a href="/listarProdutos" class="nav-link">Produtos</a></li>
    <li><a href="/adminpageCadastros" class="nav-link">Clientes</a></li>     
    <li><a href="/fornecedor" class="nav-link">Fornecedores</a></li>
    <li><a href="/adminpagePedidos" class="nav-link">Pedidos</a></li>
</ul>
=======
<div class="m-auto d-table">
    <ul class="navBarPainel">
        <li class="navBarBainel__item"><a href="/listarprodutos" class="nav-link">Produtos</a></li>
        <li class="navBarBainel__item"><a href="/adminpageCadastros" class="nav-link">Clientes</a></li>     
        <li class="navBarBainel__item"><a href="/fornecedor" class="nav-link">Fornecedores</a></li>
        <li class="navBarBainel__item"><a href="/adminpagePedidos" class="nav-link">Pedidos</a></li>
    </ul>
</div>
>>>>>>> da7854a9bba54f6748f9cb324408c324a26c9041
