<div class="m-auto d-table">
    <ul class="navBarPainel">
        <li class="navBarBainel__item">
            <a href="/meucadastro/1" class="nav-link">Meu Cadastro</a>
        </li>
        <li class="navBarBainel__item">
            <a href="/pedidos" class="nav-link">Pedidos</a>
        </li>
        <li class="navBarBainel__item">
            <a href="/resetpassword" class="nav-link">Alterar Senha</a>
        </li>
    </ul>
</div>