<header>
    <nav class="navbar">
        <div class="container">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navBarBeBasic" aria-controls="navBarBeBasic" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand m-0 p-0" href="/">
                <img src="/images/logo-topo.png" alt="Be Basic T-Shirts" width="80">
            </a>

            <div class="navbar-toggler-2nd d-flex gap-2">
                <div class="navbar-toggler-2nd-search collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navBarSearch" aria-controls="navBarSearch" aria-expanded="false" aria-label="Toggle navigation"></div>
                <div class="navbar-toggler-2nd-store"></div>
            </div>

            <div class="collapse navbar-collapse" id="navBarSearch">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Digite aqui" aria-label="Search">
                    <button class="btn btn-secondary" type="submit">Pesquisar</button>
                </form>
            </div>

            <div class="collapse navbar-collapse" id="navBarBeBasic">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/produtos" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Produtos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Categoria 1</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Categoria 2</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Categoria 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Carrinho</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Minha Conta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adressregistration">Endereço de entrega</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resetpassword">Atualizar senha</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fornecedor">Fornecedores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>