<ul class="navBarPainel">
    <li><a href="/listarProdutos" class="nav-link">Produtos</a></li>
    <li><a href="/adminpageCadastros" class="nav-link">Clientes</a></li>     
    <li><a href="/fornecedor" class="nav-link">Fornecedores</a></li>
    <li><a href="/adminpagePedidos" class="nav-link">Pedidos</a></li>
</ul>