<div class="m-auto d-table">
    <ul class="navBarPainel">
        <li class="navBarBainel__item"><a href="/listarProdutos" class="nav-link">Produtos</a></li>
        <li class="navBarBainel__item"><a href="/adminpageCadastros" class="nav-link">Clientes</a></li>
        <li class="navBarBainel__item"><a href="/fornecedor" class="nav-link">Fornecedores</a></li>
        <li class="navBarBainel__item"><a href="/adminpagePedidos" class="nav-link">Pedidos</a></li>
    </ul>
</div>

