<section class="trending">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-uppercase text-center">@Trending</h2>
                <div class="trending__list">
                    <a href="#" class="trending__list__item">#2022</a> 
                    <a href="#" class="trending__list__item">#bebasic</a>
                    <a href="#" class="trending__list__item">#collection</a>
                    <a href="#" class="trending__list__item">#basic</a>
                    <a href="#" class="trending__list__item">#fashion</a>
                    <a href="#" class="trending__list__item">#2022</a> 
                    <a href="#" class="trending__list__item">#praticity</a>
                    <a href="#" class="trending__list__item">#smart</a>
                    <a href="#" class="trending__list__item">#fall</a>
                    <a href="#" class="trending__list__item">#fashion</a>
                    <a href="#" class="trending__list__item">#2022</a> 
                    <a href="#" class="trending__list__item">#tshirt</a>
                    <a href="#" class="trending__list__item">#tendency</a>
                    <a href="#" class="trending__list__item">#look</a>
                    <a href="#" class="trending__list__item">#style</a>
                    <a href="#" class="trending__list__item">#comfortable</a> 
                    <a href="#" class="trending__list__item">#beautiful</a>

                </div>
            </div>
        </div>
    </div>
</section>