<!-- header -->
<%- include('partials/header.ejs') %>

<body>

<!-- HEADER -->
<%- include('partials/menu.ejs') %>

<main>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <h2 class="text-center text-uppercase">Administrativo</h2>
                    <hr />

                    <div class="col">
                            <%- include('partials/menuAdmin') %>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

    <!-- FOOTER -->
<%- include('partials/footer.ejs') %>

</body>
</html>