<!-- header -->
<%- include('partials/header.ejs') %>

<body>

<%- include('partials/menu.ejs') %>

    <div class="containerbackground">
        <div class="containercarrinho">
            <div class="carrinhodecompras">
                <div class="textocarrinho">
                    <h2>Carrinho de Compras</h2>
                </div>
                <div>
                    <h2>
                        Total
                    </h2>
                </div>
            </div>


            <div class="compra">
                <div class="imagem2">
                    <img src="../images/azul-gola-normal-camiseta-minimal-134363_540x.png" alt="Camisa branca">
                </div>
                <h2>Descriçao camiseta</h2>
                <form action="qtdade">
                    <label>Quantidade</label>
                    <input type="number" name="qtdade" value="1" min="1" max="20">
                    <button type="button">Remover</button>
                </form>
                <h2>Valor</h2>
            </div>
            <div class="compra">
                <div class="imagem2">
                    <img src="../images/Camiseta-Arimlap-Branco-Lisa-Camiseta-Arimlap-Branco-Lisa-M_0 1.png" alt="Camisa branca">
                </div>
                <h2>Descriçao camiseta</h2>
                <form action="qtdade">
                    <label>Quantidade</label>
                    <input type="number" name="qtdade" value="1" min="1" max="20">
                    <button type="button">Remover</button>
                </form>
                <h2>Valor</h2>

            </div>

        </div>
        <div class="container2">
            <div class="texto">
                <span>Subtotal</span>
                <span>Valor</span>
            </div>
            <div class="detalhe">
                <span>
                    Os códigos de desconto, o frete e os impostos ão adicionados no encerramento</span>
            </div>
            <div class="finalizasubmit">
                <form action="finalCompra"></form>
                <button type="submit">Fechar Pedido</button>
            </div>
        </div>
    </div>

<!-- footer -->
<%- include('partials/footer.ejs') %>

</body>
</html>
