<%- include('partials/header.ejs') %>
<body class="home">

<!-- HEADER -->
    <%- include('partials/menu.ejs') %>


    <main class="bannerHome">
        <div class="container">
            <div class="bannerHome__wrap">
                <div class="breadcrumb">Home</div>
                <div class="bannerHome__slogan">
                    <span class="bannerHome__slogan__title">BeBasic,  praticidade e  leveza.</span><br>
                    <span class="bannerHome__slogan__description">Camisetas Premium de puro algodão egipcio fairtrade.</span>

                    <h1> Olá <% usuarioSalvo %> </h1>

                </div>
            </div>
        </div>
    </main>

<!-- FOOTER -->
<%- include('partials/footer.ejs') %>

</body>
</html>



<!-- PODE USAR PARA FONTE O MEDIA QUERY, ONDE SERÁ O BREAK POINT DE VOCÊS?  -->