<%- include('partials/header.ejs') %>
<body class="home">

<!-- HEADER -->
    <%- include('partials/menu.ejs') %>


    <main>

        <section class="featured">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col h-100">
                        <div class="featured__text">
                            <p class="featured__text__p"><strong>BeBasic, praticidade e leveza.</strong><br>
                                Camisetas Premium de puro algodão egipcio fairtrade.</p>
                            <a href="#" class="btn btn-primary">Veja nossa coleção</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="products">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="text-uppercase text-center">Novidades</h2>
                        <hr />
                        <div class="list__products">
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-1.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-2.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-3.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-4.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-1.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-2.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-3.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-4.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-1.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-2.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-3.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-4.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-1.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="#"><img src="/images/produto-fake-2.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                        </div>
                        <a href="#" class="products__plus">Veja Mais</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="trending">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-uppercase text-center">@Trending</h2>
                        <div class="trending__list">
                            <a href="#" class="trending__list__item">#2022</a> 
                            <a href="#" class="trending__list__item">#spring</a>
                            <a href="#" class="trending__list__item">#collection</a>
                            <a href="#" class="trending__list__item">#fall</a>
                            <a href="#" class="trending__list__item">#fashion</a>
                            <a href="#" class="trending__list__item">#2022</a> 
                            <a href="#" class="trending__list__item">#spring</a>
                            <a href="#" class="trending__list__item">#collection</a>
                            <a href="#" class="trending__list__item">#fall</a>
                            <a href="#" class="trending__list__item">#fashion</a>
                            <a href="#" class="trending__list__item">#2022</a> 
                            <a href="#" class="trending__list__item">#spring</a>
                            <a href="#" class="trending__list__item">#collection</a>
                            <a href="#" class="trending__list__item">#fall</a>
                            <a href="#" class="trending__list__item">#fashion</a>
                            <a href="#" class="trending__list__item">#2022</a> 
                            <a href="#" class="trending__list__item">#spring</a>
                            <a href="#" class="trending__list__item">#collection</a>
                            <a href="#" class="trending__list__item">#fall</a>
                            <a href="#" class="trending__list__item">#fashion</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="benefits">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="text-center mb-2">
                            <img src="/images/logo-topo.png" alt="Be Basic T-Shirts" width="80">
                        </h2>
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-6">
                                <p>Faça parte do clube!</p>

                                <p>Receba conteúdo sobre inovação, empreendedorismo, investimentos e filosofia no seu e-mail. Além de muita oferta boa também!</p>

                                <hr />

                            </div>
                        </div>    

                        <div class="benefits__list">
                            <div class="benefits__list__item">
                                <div class="benefits__list__item__icon">
                                    <img src="/images/fast.svg" alt="">
                                </div>
                                <div class="benefits__list__item__description">
                                    Fast shipping. Free on orders over $25.
                                </div>
                            </div>
                            <div class="benefits__list__item">
                                <div class="benefits__list__item__icon">
                                    <img src="/images/benefits-2.svg" alt="">
                                </div>
                                <div class="benefits__list__item__description">
                                    Sustainable process 
                                    from start to finish.
                                </div>
                            </div>
                            <div class="benefits__list__item">
                                <div class="benefits__list__item__icon">
                                    <img src="/images/benefits-3.svg" alt="">
                                </div>
                                <div class="benefits__list__item__description">
                                    Unique designs 
                                    and high-quality materials.
                                </div>
                            </div>
                            <div class="benefits__list__item">
                                <div class="benefits__list__item__icon">
                                    <img src="/images/benefits-4.svg" alt="">
                                </div>
                                <div class="benefits__list__item__description">
                                    Fast shipping. 
                                    Free on orders over $25.
                                </div>
                            </div>
                        </div>   
                        
                        <div class="mt-5">
                            <img src="/images/divisor-ornament.svg" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="instagram">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="text-uppercase text-center">Siga-nos ;)</h2>
                        <a href="#" class="mt-2 d-block">
                            <img src="/images/instagram-white.svg" alt="Instagram">
                        </a>
                        <div class="instagram__gallery">
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-1.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-2.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-3.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-4.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-1.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-2.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-3.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-4.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-1.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-2.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-3.png" alt="">
                            </a>
                            <a href="#" class="instagram__galery__item">
                                <img src="/images/instagram-gallery-4.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

<!-- FOOTER -->
<%- include('partials/footer.ejs') %>

</body>
</html>



<!-- PODE USAR PARA FONTE O MEDIA QUERY, ONDE SERÁ O BREAK POINT DE VOCÊS?  -->