<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeBasic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>

    <header id="header" class="header">
        <div id="header__links" class="header__links">
            <div class="container">
                <button id="header__links__close" class="header__links__close fa-solid fa-rectangle-xmark"></button>
                <ul class="header__links__nav">
                    <li class="header__links__nav__item">
                        <a href="#" class="header__links__nav__item__link">
                            Link 1
                        </a>
                    </li>
                    <li class="header__links__nav__item">
                        <a href="#" class="header__links__nav__item__link">
                            Link 2
                        </a>
                    </li>
                    <li class="header__links__nav__item">
                        <a href="#" class="header__links__nav__item__link">
                            Link 3
                        </a>
                    </li>
                    <li class="header__links__nav__item">
                        <a href="#" class="header__links__nav__item__link">
                            Link 4
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="header__wrap">
                <button id="header__menu__mobile" class="header__menu__mobile">Abrir menu</button>
                <a href="#" class="header__logo">
                    <img src="../public/images/logo-topo.png" alt="BeBasic T-shirts">
                </a>
                <a href="#" class="header__login">
                    <img src="../public/images/ico-login.png" alt="Faça o login">
                </a>
                <a href="#" class="header__store">
                    <img src="../public/images/ico-store.png" alt="Loja">
                </a>
            </div>            
        </div>
    </header>

    <main class="bannerHome">
        <div class="container">
            <div class="bannerHome__wrap">
                <div class="breadcrumb">Home</div>
                <div class="bannerHome__slogan">
                    <span class="bannerHome__slogan__title">BeBasic,  praticidade e  leveza.</span><br>
                    <span class="bannerHome__slogan__description">Camisetas Premium de puro algodão egipcio fairtrade.</span>
                </div>
            </div>            
        </div>
    </main>

    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer__wrap">
                <div class="footer__wrap__col1">
                    FAÇA PARTE DO CLUBE!<br><br>

                    Receba conteúdo sobre inovação, empreendedorismo, investimentos e filosofia no seu e-mail. Além de muita oferta boa também!
                </div>
                <div class="footer__wrap__col2">
                    <a href="#" class="footer__wrap__logo">
                        <img src="../public/images/logo.png" alt="BeBasic">
                    </a>
                    <div class="network">
                        <a href="#" class="network__item">
                            <img src="../public/images/ico-twitter.png" alt="Twitter" class="img-fluid">
                        </a>
                        <a href="#" class="network__item">
                            <img src="../public/images/ico-instagram.png" alt="Instagram" class="img-fluid">
                        </a>
                        <a href="#" class="network__item">
                            <img src="../public/images/ico-facebook.png" alt="Facebook" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="footer__wrap__col3">
                    CONDIÇÕES DE FRETE.<br><br>

                    * Frete grátis válido para as regiões Sul, Sudeste, Centro-Oeste e Nordeste.
                </div>
                <div class="footer__wrap__col4">
                    <ul class="footer__wrap__menu">
                        <li class="footer__wrap__menu__item">
                            <a href="#">Política de privacidade</a>
                        </li>
                        <li class="footer__wrap__menu__item">
                            <a href="#">Política de trocas e devoluções</a>
                        </li>
                        <li class="footer__wrap__menu__item">
                            <a href="#">Política de frete</a>
                        </li>
                        <li class="footer__wrap__menu__item">
                            <a href="#">Termos de serviço</a>
                        </li>
                    </ul>                    
                </div>
            </div>
            <div class="footer__copy">
                © 2022 BeBasic CNPJ: 66.077.940/0001-99 | Av. das Américas 2022 loja 22, Nova California. Americana, SP CEP: 11.110-000 | <a href="mailto: atendimento@bebasic.com.br">atendimento@bebasic.com.br</a>
            </div>
        </div>
    </footer>

    <script src="../main.js"></script>
    
</body>
</html>