<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeBasic - Produtos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/stylesheets/ListaDeProdutos.css">
</head>
<body>
    <header>
        <header id="header" class="header">
            <div id="header__links" class="header__links">
                <div class="container">
                    <button id="header__links__close" class="header__links__close fa-solid fa-rectangle-xmark"></button>
                    <ul class="header__links__nav">
                        <li class="header__links__nav__item">
                            <a href="#" class="header__links__nav__item__link">
                                Link 1
                            </a>
                        </li>
                        <li class="header__links__nav__item">
                            <a href="#" class="header__links__nav__item__link">
                                Link 2
                            </a>
                        </li>
                        <li class="header__links__nav__item">
                            <a href="#" class="header__links__nav__item__link">
                                Link 3
                            </a>
                        </li>
                        <li class="header__links__nav__item">
                            <a href="#" class="header__links__nav__item__link">
                                Link 4
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="header__wrap">
                    <button id="header__menu__mobile" class="header__menu__mobile">Abrir menu</button>
                    <a href="#" class="header__logo">
                        <img src="../public/images/logo-topo.png" alt="BeBasic T-shirts">
                    </a>
                    <a href="#" class="header__login">
                        <img src="../public/images/ico-login.png" alt="Faça o login">
                    </a>
                    <a href="#" class="header__store">
                        <img src="../public/images/ico-store.png" alt="Loja">
                    </a>
                </div>            
            </div>
        </header>

    </header>
     <main>
         <div class="container" "main__container" >
             <div class="container__img">
                 <div class="grid__template_area">
                     <article class="wrap__img">
                         <picture class="first__img">
                             <a href="#"><img src="../public/images/Camiseta-Joss-Corte-a-Fio-Lisa-Branco-Cor-Branco-Tamanho-GG-Genero-Masculino_0 1.png" alt="Camiseta Joss Branca"></a>
                             <div class="single__img__subtitle">
                                 <div class="single__img__subtitle__description">
                                     Camiseta Joss Corte a Fio Liso Branca
                                 </div>
                                 <div class="single__img__subtitle__price"> R$127,90</div>
                             </div>
                         </picture>
                     </article>

                     <article class="wrap__img">
                        <picture class="second__img">
                            <a href="#"><img src="../public/images/Camiseta-Arimlap-Branco-Lisa-Camiseta-Arimlap-Branco-Lisa-M_0 1.png" alt="Camiseta Joss Branca"></a>
                            <div class="single__img__subtitle">
                                <div class="single__img__subtitle__description">
                                    Camiseta Arimlap Branco Lisa
                                </div>
                                <div class="single__img__subtitle__price"> R$127,90</div>
                            </div>
                        </picture>
                    </article>

                    <article class="wrap-img">
                        <picture class="third-img">
                            <a href="#"><img src="../public/images/camiseta-basica-preta-4 1.png" alt="Camiseta Joss Branca"></a>
                            <div class="single__img__subtitle">
                                <div class="single__img__subtitle__description">
                                    Camiseta Arimlap Preto Lisa
                                </div>
                                <div class="single__img__subtitle__price"> R$127,90</div>
                            </div>
                        </picture>
                    </article>

                    <article class="wrap-img">
                        <picture class="fourth-img">
                            <a href="#"><img src="../public/images/Camiseta-Joss-Corte-a-Fio-Lisa-Preto-Cor-Preto-Tamanho-P-Genero-Masculino_0_clipped_rev_1 1.png" alt="Camiseta Joss Branca"></a>
                            <div class="single__img__subtitle">
                                <div class="single__img__subtitle__description">
                                    Camiseta Joss Corte a Fio Liso Branca
                                </div>
                                <div class="single__img__subtitle__price"> R$127,90</div>
                            </div>
                        </picture>
                    </article>

                    <article class="test__here">
                        <div class="text__between_img">
                        <p class="space__between__p">BeBasic</p> 
                        <p class="space__between__p">praticidade e leveza.</p>      
                        </div>
                    </article>

                    <article class="wrap-img">
                        <picture class="fifth-img">
                            <a href="#"><img src="../public/images/Camiseta-Joss-Corte-a-Fio-Lisa-Cinza-Cor-Cinza-Tamanho-P-Genero-Masculino_0 1.png" alt="Camiseta Joss Branca"></a>
                            <div class="single__img__subtitle">
                                <div class="single__img__subtitle__description">
                                   Camiseta Joss Corte a Fio Liso Cinza
                                </div>
                                <div class="single__img__subtitle__price"> R$127,90</div>
                            </div>
                        </picture>
                    </article>
                  </div>

                  <div class="wrap__related__products">
                      <section class="related__products">
                      <h2 class="related__products__title"> Produtos relacionados</h2>
                      <article class="all__together__img space__between__p">
                          <a href="#"><img src="../public/images/frequente mente comprado juntos 1.png" alt="Produtos relacionados"></a>
                      </article>
                  </section>
                  </div>
                  


             
            </div>

             <div class="container__text">
                <p class="first__line"> O que é a camiseta corte a fio joss? 

                    <p class="space__between_p">Ela não apresenta costura nos acabamentos e não desfia, proporcionando muito mais conforto e durabilidade a camiseta</p>
                    <p class="space__between__p">Olha só que legal...</p>
                    <p class="space__between__p">A camiseta Joss corte a fio é extremamente confortável e fácil de usar. É feita à mão com a mais recente tecnologia e 100% puro aldogão egípcio, que garante leveza, maciez e durabilidade para vida toda</p>
                    <p class="space__between__p">Sem falar que garante um estilo JOSS mais despojado e moderno, podendo ser usada em qualquer ocasiõa.</p>
                    <p class="space__top__p">Composição: 100% aldogão egípcio</p>
                    <p>Tipo de tecido: Malha 40.1</p>
                    <p>Gola: Canoa</p>
                    <p>Tipo de produto: Camiseta</p>
                    <p>Modelagem: Reta</p>
                    <p class="space__bottom_p">Manga: Curta</p>
                    <p class="space__between__p">Compre sem medo, oferecemos a primeira troca sem custo para defeitos, tamanho e modelos.</p>
                    <p class="space__between__p">Ainda está com dúvidas? Entre em contato, vamos te ajudar.</p></p>
             </div>



         </div>
     </main>

     <footer id="footer" class="footer">
            <div class="container">
                <div class="footer__wrap">
                    <div class="footer__wrap__col1">
                        FAÇA PARTE DO CLUBE!<br><br>
    
                        Receba conteúdo sobre inovação, empreendedorismo, investimentos e filosofia no seu e-mail. Além de muita oferta boa também!
                    </div>
                    <div class="footer__wrap__col2">
                        <a href="#" class="footer__wrap__logo">
                            <img src="../public/images/logo.png" alt="BeBasic">
                        </a>
                        <div class="network">
                            <a href="#" class="network__item">
                                <img src="../public/images/ico-twitter.png" alt="Twitter" class="img-fluid">
                            </a>
                            <a href="#" class="network__item">
                                <img src="../public/images/ico-instagram.png" alt="Instagram" class="img-fluid">
                            </a>
                            <a href="#" class="network__item">
                                <img src="../public/images/ico-facebook.png" alt="Facebook" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="footer__wrap__col3">
                        CONDIÇÕES DE FRETE.<br><br>
    
                        * Frete grátis válido para as regiões Sul, Sudeste, Centro-Oeste e Nordeste.
                    </div>
                    <div class="footer__wrap__col4">
                        <ul class="footer__wrap__menu">
                            <li class="footer__wrap__menu__item">
                                <a href="#">Política de privacidade</a>
                            </li>
                            <li class="footer__wrap__menu__item">
                                <a href="#">Política de trocas e devoluções</a>
                            </li>
                            <li class="footer__wrap__menu__item">
                                <a href="#">Política de frete</a>
                            </li>
                            <li class="footer__wrap__menu__item">
                                <a href="#">Termos de serviço</a>
                            </li>
                        </ul>                    
                    </div>
                </div>
                <div class="footer__copy">
                    © 2022 BeBasic CNPJ: 66.077.940/0001-99 | Av. das Américas 2022 loja 22, Nova California. Americana, SP CEP: 11.110-000 | <a href="mailto: atendimento@bebasic.com.br">atendimento@bebasic.com.br</a>
                </div>
            </div>
        </footer>
    
        <script src="../main.js"></script>

</body>
</html>