<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BeBasic - Produtos</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="../stylesheets/catalogProducts.css">
</head>

<body>
    
<!-- HEADER -->
<%- include('partials/header.ejs') %>

<main>
   
    <section class="login-content-page">
        <div class="logo">
            <p>Faça seu Login na BeBasic</p> 
        <label for="logo">Login</label>
        </div>
  
        <div class="login">
          <form action="/login" method="post">
            <label for="email"></label>
            <input type="email" required placeholder="Digite seu email" name="email" id="email"/>
            <br />
            <label for="password"></label>
            <input type="password" required placeholder="Digite sua senha" name="password" id="password"/>
            <br />
            <div class="checkbox">
              <input type="checkbox" id="conectado" name="conectado" value="yes" checked />
              <small>Mantenha-me conectado</small>
            </div>
            <br />
            <button type="submit">Login</button>
            <br />
            <div>
              <p>
                <small>
                  <a href="/senha" target="_blank">Esqueceu a senha? </a>
                </small>
              </p>
              <br />
              <p>
                <small>Ainda não tem conta?
                  <a href="/cadastro" target="_blank"> Clique aqui </a>
                  <br />
                </small>
              </p>
            </div>
          </form>
        </div>
      </section>
    
</main>

<!-- FOOTER -->
<%- include('partials/footer.ejs') %>

</body>
</html>