<!-- header -->
<%- include('partials/header.ejs') %>

<body>

    <!-- HEADER -->
    <%- include('partials/menu.ejs') %>

    <main>

        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <h2 class="text-uppercase text-center">Minha Conta</h2>
                        <hr/>

                        <div>
                            <img src="../images/avatar.png" alt="" width="115">
                        </div>

                        <ul>
                            <li>
                                <a href="/registration">Meu Cadastro</a>
                            </li>
                            <li>
                                <a href="/pedidos">Pedidos</a>
                            </li>
                            <!-- <li>
                                <a href="/forma-de-pagamento">Forma de pagamento</a>
                            </li>
                            <li>
                                <a href="/adressregistration">Endereço de entrega</a>
                            </li> -->
                            <li>
                                <a href="/resetpassword">Alterar Senha</a>
                            </li>
                            <!-- <li>
                                <a href="/adressregistration">Endereços de Entrega</a>
                            </li> -->
                        </ul>

                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <%- include('partials/footer.ejs') %></body>
</body></html>
