<!-- header -->
<%- include('partials/header.ejs') %>

    <body>

        <!-- HEADER -->
        <%- include('partials/menu.ejs') %>

            <main>

                <section>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col">
                                <h2 class="text-uppercase text-center">Painel do Usuário</h2>
                                <hr />

                                <!-- <div>
                            <img src="../images/avatar.png" alt="" width="115">
                        </div> -->

                                <%- include('partials/menuCadastro.ejs') %>

                            </div>
                        </div>
                    </div>
                </section>

                <!-- FOOTER -->
                <%- include('partials/footer.ejs') %>
    </body>
    </body>

    </html>