<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BeBasic - Cadastro</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="../stylesheets/registration.css">
</head>

<body>

<!-- HEADER -->
<%- include('partials/header.ejs') %>

<main>
  <div class="containerbackground_registration">
    <section class="registration_content_page">
      <div class="registration_wrap">
        <div class="registration__form">
          <h2 class="cadastre_se_title">Cadastre-se</h2>
          <p class="personal_data">Preencha abaixo com seus dados pessoais</p>
          <form action="registration" method="post">
            <p>
              <label for="name">Nome Completo (Sem Abreviações)*</label><br/>
              <input type="text" required placeholder="Digique seu nome completo" name="name" id="name"/><br/>
            </p>
            <p>
              <label for="email">Seu e-mail</label><br/>
              <input type="email" required placeholder="Digite seu email" name="email" id="email"/><br/>
            </p>
            <p>
              <label for="gender">Sexo</label><br/>
              <input list="gender" required name="gender" placeholder="Masculino / Feminino"/><br/>
              <datalist id="gender">
              <option value="Masculino"></option>
              <option value="Feminino"></option>
            </p>
            <p>
              <label for="cpf">Seu CPF</label><br/>
              <input type="text" required placeholder="Ex: 000.000.000-00" name="cpf" id="cpf" pattern="[0-9]{11}"/><br/>
            </p>
            <p>
              <label for="birthdate">Seu aniversário</label><br/>
              <input id="date" type="date" name="birthdate" value="2000-01-01">
            </p>
            <p>
              <label for="telefone">Seu Telefone</label><br/>
              <input type="text" required placeholder="Ex: (xx) xxxxx-xxxx" name="telefone" id="telefone"/><br/>
            </p>
            <div class="password_container">
              <p id="senha">
                <label for="senha">Senha</label><br/>
                <input type="password" required placeholder="Mínimo de 8 caracteres" name="password" id="password"/><br/>
                <input type="password" required placeholder="Mínimo de 8 caracteres" name="confirm_password" id="confirm_password"/><br/>
                <!-- <input class="saving_user_input" id="checkbox" type="checkbox" onclick="showPass()">
                <span class="saving_user" style="color: #40413f;">Salvar usuário e senha?</span>
              </p> -->
              </div>
            <label for="address">Endereço*</label><br />
          <input type="text" name="address" required placeholder="Rua / Avenida / Praça" id="address"/><br/>
        </p>
        <p>
          <label for="number">Número*</label><br/>
          <input type="text" name="number"required placeholder="Número" id="number"/><br/>
        </p>
        <p>
            <label for="complemento">Complemento*</label><br />
            <input type="text" name="complemento" required placeholder="Casa / Apartamento" id="cep"/><br/>
        </p><p>
          <label for="bairro">Bairro*</label><br />
          <input type="text" name="bairro" required placeholder="Bairro" id="bairro"/><br/>
        </p>

        <p>
          <label for="city">Cidade*</label><br />
          <input type="text" name="city"required placeholder="Cidade" id="cidade"/><br />
        </p>

        <p>
          <label for="state">Estado*</label><br />
          <input list="state" name="state" required/>
          <datalist id="state">
            <option value="AC"></option>
            <option value="AL"></option>
            <option value="AM"></option>
            <option value="AP"></option>
            <option value="BA"></option>
            <option value="CE"></option>
            <option value="DF"></option>
            <option value="ES"></option>
            <option value="GO"></option>
            <option value="MA"></option>
            <option value="MG"></option>
            <option value="MS"></option>
            <option value="MT"></option>
            <option value="PA"></option>
            <option value="PB"></option>
            <option value="PE"></option>
            <option value="PI"></option>
            <option value="PR"></option>
            <option value="RJ"></option>
            <option value="RO"></option>
            <option value="RN"></option>
            <option value="RR"></option>
            <option value="RS"></option>
            <option value="SC"></option>
            <option value="SE"></option>
            <option value="SP"></option>
            <option value="TO"></option>
          </datalist>
        <p>
          <label for="cep">CEP*</label><br />
          <input type="text" name="cep" required placeholder="Ex 00.000-000" id="cep"/><br/>
      </p>
            
            

            <button class="btn_finalizarCadastro_continuarComprando">Finalizar Cadastro</button>

            <p class="paragraph_privacyPolicy">Ao continuar com o acesso, você está concordando com a nossa <a href="#">Política de Privacidade</a> </p>

            <!-- <button class="btn_finalizarCadastro_continuarComprando">Continuar Comprando</button> -->
            </div>

        </form>


        <br />

        <br />
      </div>
      </section>
    </div>
</main>

<!-- FOOTER -->
<%- include('partials/footer.ejs') %>

<script src="/scripts/main.js"></script>

</body>
</html>