<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BeBasic - Redefinição de Senha</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="../stylesheets/resetPassword.css">
</head>

<body>

<!-- HEADER -->
<%- include('partials/header.ejs') %>

<main>
    <div class="containerbackground_resetpassoword">
    <div class="resetpassoword_content_page">
        <div class="resetpassoword_wrap">
        <form action="/resetPassword" method="POST">
            <h1 class="remember_password_title">Redefinir Senha</h1>

            <p>Digite o email de cadastro para redefinir sua senha:</p> <label for="email"></label>
            <input id="email" name="email" required="required" type="email" placeholder="ex:seuemail@email.com" />
            </p>
            <p>
                <button class="btn_resetPassword" type="submit">Enviar</button>
            </p>
            <p class="link">
                Ainda não tem conta?
                <a href="/registration">Cadastre-se</a>
            </p>

        </form>
    </div>
    </div>
    </div>
</main>

<!-- FOOTER -->
<%- include('partials/footer.ejs') %>

<script src="/scripts/main.js"></script>

</body>
</html>