* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    height:100vh;
}

.container {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
}

.img-fluid {
    max-width:100%;
    height:auto;
}



/* USANDO DISPLAY GRID PARA COLOCAR AS IMAGENS UMA AO LADO DA OUTRA */
.container__img {
    display: grid;
    grid-row: auto;
    justify-content: space-between;
    }

.first__img {
    grid-area: first__img;
}



/* CONFIGURANDO O GRID PARA FICAR EM 2 LINHAS E 3 COLUNAS */
.grid__template_area {
    display: grid;
    grid-template-areas: 
    "first__img second__img third__img"
    "fourth__img text__between_img fifth__img";
}

.single__img__subtitle {
    display: inline-block;
    vertical-align: top;
    padding: 0 5%;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
}

.single__img__subtitle__price {
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
}

.palavraTamanho{
    font-weight: lighter;
}

.preco{
    font-weight: lighter;
}

.cor{
    font-weight: lighter;
}


.tamanho{
    border: none;
    padding: 11px 20px;
    font: 16px 'Ubuntu', sans-serif;
    cursor: pointer;
}

.cores{
    display: flex;
    justify-content: space-between;
    width: 200px;
    cursor: pointer;
}

.corPreto{
    background: black;
    height: 40px;
    width: 40px;    
}

.corBranco{
    background: white;
    border: solid 1px  black;
    height: 40px;
    width: 40px;  
}

.corAzul{
    background: #808080;
    height: 40px;
    width: 40px;  
}

.quantidade{
    width: 50px;
    font-weight: lighter;
}



.comprar{
    border: none;
    color: #FFFFFF;
    font: 16px 'Ubuntu', sans-serif;
    background: #08A742;
    padding: 11px 20px;
    cursor: pointer;
    float: right;
}


.options{
    float: right;
    width: 10px;
    height: 10px;  
}





.subtitle__tamanho{

    margin-right: 20px;
    width: 50px;

}

.text__between_img {
    padding: 0 10%;
    margin-top: 60px;
    margin-bottom: 16px;
    font-size: 48px;
}

.single__img__subtitle__description {
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.related__products__title {
    font-size: 64px;
    width:100%;
    padding: 0 25%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.wrap__related__products {
    display: block;
    width:100%;
    margin:0 auto;
}

.container__text {
    background-color: rgb(241, 218, 216);
    font-size: 25px;
    display: block;
    height: 58rem;
    padding: 5rem 10rem;
    width:100%;
    margin:0 auto;
    display: block;
}

.first__line {
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 32px; 
}

.space__between__p {
    margin-top: 32px;
    margin-bottom: 32px; 
}

.space__top__p {
    margin-top: 32px;
}

