/* tenor-sans-regular - latin */
@font-face {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/tenor-sans/tenor-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/tenor-sans/tenor-sans-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/tenor-sans/tenor-sans-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/tenor-sans/tenor-sans-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/tenor-sans/tenor-sans-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/tenor-sans/tenor-sans-v17-latin-regular.svg#TenorSans") format("svg"); /* Legacy iOS */
}

body {
    font-family: 'Tenor Sans';
    font-size: 16px;
    color:#000;
}

a:hover {color: #000;}

h2 {
    font-family: 'Tenor Sans';
    font-size: 18px;
    margin-top:20px;
    margin-bottom:0;
}

h3 {
    font-family: 'Tenor Sans';
    font-size: 18px;
    margin-bottom:16px;
    font-weight: bold;
}

h4 {
    font-family: 'Tenor Sans';
    font-size: 18px;
    margin-bottom:16px;
    font-weight: bold;
}

header,
#navBarSearch input {
  background: #f7f2f2;
}

.cover-featured {
  height: 4px;
  background: #eee;
  box-shadow: 0 3px 4px 0px #68686836;
  /* border-bottom: 1px solid #000; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dd8560+0,dbcdc7+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dba28c+0,dbcdc7+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dbcdc7+0,dba28c+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dbcdc7+0,d8b2a4+100 */
  background: #dbcdc7; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #dbcdc7 0%, #d8b2a4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #dbcdc7 0%,#d8b2a4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #dbcdc7 0%,#d8b2a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbcdc7', endColorstr='#d8b2a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.f14 {
  font-size: 14px;
}

.btn {
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
    opacity: 0.5;
    border-radius: 30px;
    padding: 8px 30px;
    transition: all .4s;
    border-radius: 0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
    opacity: 1;
}

hr:not([size]){
    height:12px;
}

hr {
    background: url(../images/divisor-line.svg);
    border:0;
    background-repeat:no-repeat;
    background-position: center center;
    margin:0;
    width:100%;
}

hr.separate {
  border: 0;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  width: 100%;
  background: none;
  border-top: 1px solid #979797;
  height:0;
}

body.home .navbar {
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: background 0.4s;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url(../images/menu.svg);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-2nd .navbar-toggler-2nd-search {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
}

.navbar-toggler-2nd .navbar-toggler-2nd-store {
  background-image: url(../images/shopping-bag.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
}

#navBarBeBasic .navbar-nav {margin-left: 15px;}

#navBarBeBasic .nav-link {
  background-image: url(../images/bullet-full-red.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 20px;
  color: #000;
}

#navBarBeBasic .nav-link:hover {
  color:#DD8560;
}

#navBarBeBasic .dropdown-toggle::after {
  border: 0;
  background-image: url(../images/arrow-down-full-gray.svg);
  content: '';
  width: 10px;
  height: 7px;
  background-repeat: no-repeat;
  background-size: 10px;
}

#navBarBeBasic .dropdown-menu {
  background: #f2f2f2;
  border: 0;
}

.navBarPainel {
  padding:0;
  list-style:none;
  margin-left: 15px;
}

.navBarPainel .nav-link {
  background-image: url(../images/bullet-gray.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 20px;
  color: #000;
}

.navBarPainel .nav-link:hover {
  color:#DD8560;
}

/**
* Table
*/

.table th,
.table td {
  text-align: center;
}

/**
* Formulário
*/

.form {}

.form__group {
  margin-bottom: 20px;
}

.form__control {
  height: 50px;
  border:0;
  border-bottom: 2px solid #e3e3e3;
  border-radius:0;
}

.form__submit {
  background-color:#000;
  color:#fff;
  border-radius: 0;
  margin:0 auto;
  transition: all .4s;
}

@media (max-width: 992px){
  .form__submit {
    background-color:#000 !important;
    position: fixed;
    width:100%;
    bottom:0;
    left:0;
    height: 56px;
  }
}

@media (min-width: 992px){
  .form__submit:hover {
    background-color:transparent !important;
    color:#000 !important;
    border: 1px solid #000;
  }
}

.form__submit:hover {
  color:#fff;
}

.form__control {}

.formLabel {
  font-weight: bold;
  color: #DD8560;
  font-size: 14px;
  display:block;
  cursor:pointer;
}

.featured {
  background-image: url(../images/guy.jpg);
  background-position: center -570px;
  height: 700px;
}

.featured__text {
    height:100%;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.featured__text__p {
    font-size: 16px;
}

.featured__text__p strong {
    font-size: 25px;
    letter-spacing: -0.5px;
}

@media (min-width: 992px){
  .featured__text__p strong {
    letter-spacing: 0;
  }
}

#formControlSearch {
  text-align: center;
}

#btnSearch:focus-visible,
[type=search] {
  outline:none;
  box-shadow: 0 0 0 0;
}

@media (min-width: 992px){
  #btnSearch {
    right:0;
    top:50%;
    transform: translateY(-50%);
    position: absolute;
  }
}

section {
  padding-top: 35px;
  padding-bottom: 35px;
}

.list__products {
    display: flex;
    gap: 13px 13px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Tamanho da imagem na home */
.list__products img {
    max-width:180px;
    width: auto;
    height: auto;
}

.lista__products__card {
    width: 165px;
}

.list__category .lista__products__card {
  width: 300px;
}

.list__category img {
  max-width: 300px;
  width: auto;
  height: auto;
}

.lista__products__card__name {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.lista__products__card__price {
    font-size: 15px;
    text-align: center;
    color:#DD8560;
}

.products__plus {
    display:inline-block;
    background-image:url(../images/arrow-right.svg);
    padding-right:25px;
    background-position: right center;
    color:#000;
    background-repeat:no-repeat;
    text-align: center;
    margin:0 auto;
    margin-top:50px;
    text-decoration: none;
}

.products__details {

}

.products__details__name {
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
}

.products__details__description {
  text-align: left;
  font-size: 16px;
}

.products__details__price {
  text-align: left;
  font-size: 18px;
  color:#DD8560;
}

.products__details__color {
  display:flex;
}

.products__details__color__label {
  font-size: 12px;
}

.products__details__size__label {
  font-size: 12px;
}

.products__details__amount__label {
  font-size: 12px;
}

.products__details [type="radio"]:checked,
.products__details [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.products__details__color__pallete__item [type="radio"]:checked + label,
.products__details__color__pallete__item [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #000;
    width: 40px;
    font-size:0;
}

.products__details__color__pallete__item [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -17px;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: transparent !important;
}
.products__details__color__pallete__item [type="radio"]:checked + label:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: -13px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.products__details__color__pallete .products__details__color__pallete__item:nth-child(1) [type="radio"]:not(:checked) + label:after,
.products__details__color__pallete .products__details__color__pallete__item:nth-child(2) [type="radio"]:not(:checked) + label:after,
.products__details__color__pallete .products__details__color__pallete__item:nth-child(3) [type="radio"]:not(:checked) + label:after {
  content: '';
    width: 16px;
    height: 16px;    
    position: absolute;
    top: -13px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.products__details .products__details__color__pallete__item:nth-child(1) [type="radio"]:not(:checked) + label:after,
.products__details .products__details__color__pallete__item:nth-child(1) [type="radio"]:checked + label:after
 {
  background: #000;
}
.products__details .products__details__color__pallete__item:nth-child(2) [type="radio"]:not(:checked) + label:after,
.products__details .products__details__color__pallete__item:nth-child(2) [type="radio"]:checked + label:after
 {
  background: #808080;
}
.products__details .products__details__color__pallete__item:nth-child(3) [type="radio"]:not(:checked) + label:after,
.products__details .products__details__color__pallete__item:nth-child(3) [type="radio"]:checked + label:after
{
  background: #fff;
  border: 1px solid #ddd;
}


/* Tamanhos */

.products__details__size__sizes__item [type="radio"]:checked + label,
.products__details__size__sizes__item [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    font-size:10px;
}

.products__details__size__sizes__item [type="radio"]:checked + label {color:#fff;}
.products__details__size__sizes__item [type="radio"]:not(:checked) + label {color:#555;}

.products__details__size__sizes__item [type="radio"]:checked + label:after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: -6px;
    left: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid #ddd;
    background-color: #333;
    z-index: -1;
}

.products__details__size__sizes .products__details__size__sizes__item [type="radio"]:not(:checked) + label:after {
  content: '';
    width: 24px;
    height: 24px;    
    position: absolute;
    top: -6px;
    left: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid #ddd;
}


/* Amount */

.products__details__amount__label {
  position:relative;
  top:2px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;
  margin: 0;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 500px;
  box-sizing: border-box;
}

.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  width: 14px;
  height: 14px;
  top:4px;
  left:4px;
  background-size: contain;
}

.number-input button.minus:after {
  background-image:url(../images/minus.svg);
}

.number-input button.plus:after {
  background-image:url(../images/plus.svg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  border: none;
  font-size: 2rem;
  text-align: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
}

.products__checkout {
  display: flex;
  gap: 10px 0;
  flex-direction: column;
}

/* Produto checkout */
.products__checkout__item {
  display:flex;
  gap: 0 10px;
  align-items: center;
}

.products__checkout__item__info__name {
  color:#000;
  font-size:14px;
  text-transform: uppercase;
}

.products__checkout__item__info__description {
  color:#555;
  font-size:12px;
}

.products__checkout__item__info__price {
  color: #DD8560;
}

.products__checkout__item__info {
  display:flex;
  flex-direction: column;
}


/* Address checkout */
.address-checkout-link {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image:url(../images/arrow-right-2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  top: calc( 50% - 15px );
  right: 0;
  text-indent: -9999px;  
  display:block;
}


.slick-dots {
  list-style:none; 
  padding:0;
  display:flex !important;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.slick-dots button {
  background:none;
  border:0;
  background-image:url(../images/bullet-gray.svg);
  width:20px;
  height:20px;
  background-repeat:no-repeat;
  text-indent:-9999px;
}

.slick-dots .slick-active button {
  background-image:url(../images/bullet-full-red.svg);
}


/**
* Trending
*/

.trending__list {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  gap: 10px 10px;
  max-width: 700px;
}

.trending__list__item {
  color:#000;
  font-size: 14px;
  text-decoration:none;
}

.trending__list__item:hover {
  text-decoration: underline;
}

/**
* Benefits
*/

.benefits {
  background-color: #F2F2F2;
  font-size: 14px;
}

.benefits__list {
  display:flex;
  justify-content: center;
  margin-top:10px;
  gap: 20px;
  flex-wrap: wrap;
}

.benefits__list__item {
  width: 165px;
}

.benefits__list__item__icon {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

/**
* Instagram Gallery
*/

.instagram__gallery {
  margin-top: 20px;
  justify-content: center;
  gap: 14px;
  display: flex;
  flex-wrap: wrap;
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
}

.instagram__galery__item {
  display:block;
}

/**
* Footer
*/

footer {
  background-color: #f2f2f2;
  padding-top: 32px;
}

.footer__network {
  display:flex;
  justify-content: center;
  gap: 0 40px;
}

.footer__navbar {
  margin-top: 25px;
}

.footer__navbar__list {
  list-style:none;
  padding:0;
  margin:0;
  margin-top:20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 50px;
}

.footer__navbar__list__item {
  text-decoration:none;
  color:#000;
}

.footer__bottom {
  background-color:#fff;
  padding-top:20px;
  font-size: 14px;
}



/**
* Categorias
*/

.list__categories {
  display: flex;
  gap: 13px 13px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.lista__categories__card {
  width: 343px;
}

.lista__categories__card__name {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}


/**
* Página de Endereço
*/

@media (max-width: 991px){
  body.address .trending,
  body.address .benefits,
  body.address .instagram,
  body.address footer {display:none;}
}


/**
* Checkout
*/

.card-chosen {
  display:flex;
  align-items: center;
  gap: 0 10px;
  height: 70px;
  position: relative;
}

.card-chosen-link {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image:url(../images/arrow-right-2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  top: calc( 50% - 15px );
  right: 0;
  text-indent: -9999px;
  display:block;
  background-color: #fff;  
}

.card-chosen-number {
  font-size: 14px;
}


.products__checkout__total {
  display:flex;
  justify-content: space-between;
  background-color: #fff;
  height: 50px;
  align-items: center;
}

.products__checkout__total__label {
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.products__checkout__total__price {
  color: #DD8560;
  font-size: 16px;
}

@media (max-width: 992px){
  .checkout__bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 4px 4px #0000002e;
  }
  
  .products__checkout__total {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);

  }
}