* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif; 
}
/* COLOCANDO IMAGEM DE BACKGROUND */
.containerbackground_registration { 
    background: url(../images/guy.png) no-repeat center;
    background-size: cover;
}
/* PADRÃO TAMANHO DO CORPO */
.registration_content_page {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.registration_wrap {
    background-color: #FFFFFF;
    margin: 1vh;  
    padding: 5vh 0;
    opacity: 0.7;
    font-weight: bold;
    font-size: 3vh;
}

.registration_wrap input {
    width: 50vh;
    height: 5vh;
    font-size: 2.5vh;
}

@media (max-width: 800px){
    .registration_wrap input {
        width: min(1000px, 40vw);
        height: min(500px, 4vh);
        font-size: 2vw;
    }
}

.cadastre_se_title {
    margin: 3vh 0;  
}
.personal_data {
    margin: 3vh 0;  
}

.saving_user_input{
    margin: 2vh 0; 
}
.paragraph_privacyPolicy {
    font-size: 2.5vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
/* CONFIGURANDO BOTÃO LOGIN */
.btn_finalizarCadastro_continuarComprando {
    width: min(800px, 18vw);
    height: min(500px, 5vh);
    font-size: 1.5vw;
    background: #03a719;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    margin: 2vh 0;
}
.btn_finalizarCadastro_continuarComprando:hover{
    background: #06f526;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;   
}

/* RESPONSIVIDADE DO BOTÃO COMPRAR */
@media (max-width: 800){
    .btn_finalizarCadastro_continuarComprando {
        width: min(1000px, 20vw);
        height: min(500px, 5vh);
        font-size: 2vw;;
    }
}
    