* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif; 
}

body.home {
    background-image:url(../images/guy.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:100vh;
}

@media (max-width: 991px){
    body.home {
        background-color: #b0aeae;
        height: auto;
    }
}

.container {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
}

@media (min-width: 1300px){
    .container {
        padding-left:0;
        padding-right:0;
    }
}

.img-fluid {
    max-width:100%;
    height:auto;
}

ul {
    padding:0;
    list-style:none;
}

a {
    color:#010101;
    text-decoration: underline;
}

p {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

/**
* Buttons
*/

.btn {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background-color:#C4C4C4;
    min-width: 200px;
    max-width: 200px;
    text-decoration: none;
    border-radius: 10px;
    color:#010101;
    border:1px solid #010101;
    font-size:18px;
}

@media (min-width: 992px){
    .btn {
        font-size:24px;
        min-width: 250px;
        max-width: 250px;
    }
}

.header {
    background: rgba(196, 196, 196, 0.7);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    position: relative;
}

.header__links {
    background-color: #fff;
    height:120px;
    position: fixed;
    display:none;
    width: 100%;
    top:0;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px){
    .header__links {
        height: 100vh;
    }
}

.header__links--active {
    display:block;
}

.header__wrap {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

@media (min-width: 992px){
    .header {
        height: 120px;
    }
    .header__wrap {
        height: 120px;
        padding:0;
    }
}

.header__links > .container {
    position: relative;
}

.header__links__close {
    position: absolute;
    background:transparent;
    border:0;
    font-size: 30px;
    cursor:pointer;
}

.header__links > .container,
.header__links__wrap__nav {
    height: 120px;
}

@media (max-width: 991px){
    .header__links > .container {
        height:100vh;
    }

    .header__links__close {
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        position: fixed;
    }
}

.header__links__wrap__nav__item {
    text-align: center;
}

.header__links__wrap__nav__item__link {
    font-size:20px;
    text-decoration: none;
    color: #010101;
    display:block;
    padding: 20px;
    border-radius: 10px;
    transition: all .4s;
    min-width: 140px;
}

.header__links__wrap__nav__item__link:hover {
    background: #eee;

}

.header__links__wrap__nav {
    list-style:none;
    padding:0;
    display:flex;
    align-items: center;
}

@media (max-width: 991px){

    .header__links__wrap {
        padding-top:10px;
    }

    .header__links__wrap__nav {
        display:flex;
        flex-direction: column;
    }
}

.header__logo {
    display:block;
}

.header__menu__mobile {
    text-indent: -9999px;
    border:0;
    background-color: transparent;
    width:39px;
    height: 26px;
    background-image:url(../images/ico-hamburger.png);
    background-repeat:no-repeat;
    background-size: contain;
}

@media (max-width: 991px){
    .header__logo {
        width:100px;
    }
}

@media (min-width: 992px){

    .header__menu__mobile {
        width:51px;
        height: 42px;        
    }

    .header__links__wrap__nav {
        justify-content: center;
    }

    .header__links__wrap__nav__item__link {
        min-width: 0;
        padding: 20px 40px;
    }

    .header__links__close {
        top:50%;
        right: 0;
        transform: translateY(-50%);
    }

}

#header__menu__mobile {
    cursor:pointer;
}

/**
* Main
*/

.main__content {
    padding-top:30px;
}

.bannerHome {
    height:616px;
    position:relative;
}

.bannerHome__slogan {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.bannerHome__slogan__title {
    font-size: 40px;
}

.bannerHome__slogan__description {
    font-size: 24px;
    display:block;
}

.bannerHome__wrap {
    padding:40px 0;
}

.breadcrumb {
    font-size: 24px;
}

.network {
    list-style:none;
    padding:0;
    display:flex;
    flex-direction: row;
}

@media (max-width: 991px){
    .network {
        width: 140px;
    }
}

.network__item {
    width: 64px;
    display:block;
    filter: grayscale(100%);
}

.footer {
    background: rgba(196, 196, 196, 0.7);
    border-top: 1px solid #000000;
}

.footer__wrap {
    display: grid;
    grid-template-columns: auto;
    padding:42px 0;
    gap: 40px 0;
}

@media (min-width: 992px){
    .footer__wrap {
        grid-template-columns: repeat(4, 1fr);
        gap: 0 50px;
    }
}

@media (max-width: 992px){
    .footer__wrap__col {
        text-align: center;
    }
}

.footer__wrap__col2 {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer__wrap__logo {
    display:block;
    margin-bottom: 15px;
}

.footer__copy {
    padding:20px 0;
    text-align: center;
}

.footer__copy a {
    color: #010101;
}

.footer__wrap__menu {
    list-style: none;
    padding:0;
}

.footer__wrap__menu__item {
    margin-bottom:10px;
}

.footer__wrap__menu__item a {
    color: #010101;
}


/**
* Login
*/

.login__content {
    display:flex;
    flex-direction: column;
}

@media (min-width: 992px){
    .login__content {
        flex-direction: row;
        justify-content: space-between;
    }
}

.login__content__wrap__avatar {
    margin-bottom:30px;
    text-align: center;
}

.login__content__lead {
    display:flex;
    flex-direction: column;
    gap: 10px 0;
    align-items: center;
}

.login__content__wrap--compl {
    text-align: center;
    padding-top:30px;
}

/**
* Favoritos
*/

.login__content__wrap.favoritos {
    margin-top: 50px;
    text-align: center;
}

.favoritos__wrap {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 0;
    padding: 20px 0;
}

.favoritos__wrap__item {}

.favoritos__wrap__item__heart {
    display:block;
    background-image:url('../images/ico-favoritos.png');
    background-repeat:no-repeat;
    background-position: center 0;
    height: 60px;
    text-indent: -9999px;
}

.favoritos__wrap__item__cart {
    display:block;
    text-align: center;
    padding: 15px 0;
}

@media (min-width: 992px){
    .login__content__wrap.favoritos {
        width: 600px;
    }
}

